<style>
    .inputcard {

        display: inline-block;
        margin: 5px;
        padding: 10px;
        background-color: blanchedalmond;
        border-radius: 5px;
        /* font-size: .85rem; */
        /* min-width: 90px; */

    }
    .inputnoborder {
        border: 0px;
        display: inline-block;
        min-width: 60px;
        padding: 2px 2px 2px 0px;
        margin-top: 10px;
        margin-right: auto;
        width: 40px;
    }
    center{margin:auto}
</style>

<div class="center">
    <div class="my-5">
        <div class="inputcard" style="display: inline-block;">
            <label for="">Item catagory</label><br>
            <select name="" id="" class="inputnoborder">
                <option value="">paddy</option>
                <option value="">rice</option>
                <option value="">others</option>
                <!-- ejs foreach for in -->
            </select>
        </div>

        <div class="inputcard" style="display: inline-block;">
            <label for="">Item name</label><br>
            <select name="" id="" class="inputnoborder">
                <option value="">patla</option>
                <option value="">mota</option>
                <option value="">sarna</option>
                <option value="">others</option>

                <!-- ejs foreach for in -->
            </select>
        </div>

        <div class="inputcard" style="display: inline-block;">
            <label for="">Quantity</label><br>
            <input type="tel" name="" id="" class="inputnoborder">
        </div>
        <div class="inputcard" style="display: inline-block;">
            <label for="">Units</label><br>
            <select name="" id="" class="inputnoborder">
                <option value="">qt</option>
                <option value="">ton</option>
                <option value="">kgs</option>
                <option value="">%</option>

                <!-- ejs foreach for in -->
            </select>
        </div>

        <div class="inputcard" style="display: inline-block;">
            <label for="">Rate</label><br>
            <input type="tel" name="" id="" class="inputnoborder">
        </div>
        <div class="inputcard">
            <label for="">amount</label><br>
            <label for="" style="display: inline-block;padding-top: 10px;">1234123/-</label>
        </div>
    </div>
</div>
